@{
    ViewBag.Title = "Index";
}
Create An Event
<style>
   .ui-datepicker {
       font-size: 10pt;
   } 
   .well-small {
       padding: 2px;
   }
</style>

<div ng-app="accountModule">
    <div ng-controller="accountCtrl">
        <form class="form-horizontal" role="form">
            <div class="control-group">
                <label for="name" class="control-label">Name</label>
                <div class="controls">
                    <input type="text" id="name" >
                </div>
            </div>
            <div class="control-group">
                <label for="description" class="control-label">Description</label>
                <div class="controls">
                    <input type="text" class="form-control" id="description">
                </div>
            </div>
            <div class="control-group">
                <label for="when" class="control-label">When</label>
                <div class="controls">
                    <div style="float:left;margin-right:10px"> 
                    <input type="text" class="input-medium" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" 
                        max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                    <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                    </div> 
                    <input type="text" value="{{meetingTime | date:'shortTime'}}" class="input-small" style="float:left" 
                        ng-mouseenter="showTime()"/>
                    <div id="timeWrapper">
                        <div ng-model="meetingTime" class="well well-small" style="display:inline-block">
                            <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </form>
    </div>
@section Scripts {
    <script src="../../Content/js/app/account.js"></script>
}
</div>