@{
    ViewBag.Title = "Welcome";
}
<div class="jumbotron" ng-app="homeModule">
    <div class="container" ng-controller="homeCtrl">
 
        <p>Geeky events coming up</p>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td data-ng-repeat="meeting in upcomingMeetings">
                        <!--
                            <div align="center" style="cursor: pointer" ng-click="openModal(item)">
                            -->
                        <h4>
                            {{meeting.source}}<br/>
                            {{meeting.name}}<br/>
                            {{dateFormat(meeting.day)}} @@ {{meeting.time}}<br/>
                            {{meeting.where}}
                        </h4>
                    </td>
                </tr>
            </tbody>
        </table> 
  
    </div>
</div>
@section Scripts {
    <script src="../../Content/js/app/homeModule.js"></script>
}

